@charset "UTF-8";

/* common */
#subBox{ height: 80rem; padding: 2rem 15px 6rem; box-sizing: border-box; }

/* 공지사항 목록 */
#subContents .noticeTable{ position: relative; width: 100%; }

#subContents .noticeTable .page{ height: 30px; margin-bottom: 20px; box-sizing: border-box; line-height: 30px; }
#subContents .noticeTable .page span{ font-size: 0.75rem; }
#subContents .noticeTable .page .total{ margin-right: 20px; box-sizing: border-box; }
#subContents .noticeTable .page .total:after{ position: relative; top: -2px; left: 10px; content: '|'; font-size: 12px; color: #999; }
#subContents .noticeTable .page b, .noticeTable .page strong{ color: #333; font-size: 0.75rem; }

#boardForm{ position: absolute; top: 2.5rem; left: 0; }
#findSelect{ width: 4.5rem; height: 25px; border: 1px solid #ccc; box-sizing: border-box; }
#searchBox{ width: 5.5rem; height: 25px; border: 1px solid #ccc; box-sizing: border-box; }
#searchBtn{ width: 4rem; height: 25px; border: none; box-sizing: border-box; background-color: #24125f; color: #fff; }

#subContents .noticeTable table{ width: 100%; margin: 50px 0 2rem; box-sizing: border-box; }
#subContents .noticeTable caption{ position: absolute; left: -999em; }
#subContents .noticeTable th{ background-color: #ededed; border-right: none; }
#subContents .noticeTable td{ border-right: none; padding: 0.5rem; box-sizing: border-box; }
#subContents .noticeTable td a{ font-size: 0.75rem; }
#subContents .noticeTable td a:hover{ text-decoration: underline; color: #24125f; }

#subContents .noticeTable .pageBtn{ position: relative; width: 100%; }
#subContents .noticeTable .pageNum{ width: 60%; height: 40px; text-align: center; line-height: 40px; }
#subContents .noticeTable .pageNum > *{ margin: 0 5px; box-sizing: border-box; }
#subContents .noticeTable .pageNum > b{ color: #333; }

#subContents .noticeTable .btnWrap{ position: absolute; top: 0; right: 0; width: 40%; }
#subContents .noticeTable .btnWrap a{ display: inline-block; width: 5rem; height: 3rem; border: 1px solid #24125f; box-sizing: border-box; text-align: center; line-height: 38px; color: #24125f; font-weight: 500; }
#subContents .noticeTable .btnWrap a.writeBtn{ background-color: #24125f; color: #fff; }

/* 타이틀 텍스트 */
#subContents h5{
    font-size: 0.875rem; font-weight: 700; color: #24125f;
}
#subContents p{
    font-size: 0.75rem; line-height: 24px; color: #666;
}


/* 표스타일 */
#subContents tr{ width: 100%; display: flex; justify-content: space-between; line-height: 2rem; box-sizing: border-box; text-align: center; }
#subContents th{
    padding: 0.5rem; box-sizing: border-box;
    border-top: 2px solid #24125f; border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #ededed;
    color: #333; font-size: 0.875rem;
}
#subContents td{
    padding: 10px; box-sizing: border-box;
    border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;
    color: #666; font-size: 0.75rem; text-align: center;
}
#subContents .title{
    width: 5rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
#subContents table th:nth-child(1), #subContents table td:nth-child(1){ width: 20%; text-align: left; }
#subContents table th:nth-child(2), #subContents table td:nth-child(2){ width: 50%; text-align: left; }
#subContents table th:nth-child(3), #subContents table td:nth-child(3){ width: 30%; text-align: left; }
#subContents table .first{ font-weight: 700; color: #333; }
#subContents table .last{ border-right: none; }


/* 공지사항 글쓰기 */
#boardWrite{ width: 100%; overflow: hidden; }
#boardWrite table{ width: 100%; margin-bottom: 2rem; box-sizing: border-box;  }
#boardWrite caption{ position: absolute; left: -999em; }
#boardWrite th{ width: 15%; border-top: none;  }
#boardWrite td{ border-top: none; text-align: left; }
#boardWrite .top th, #boardWrite .top td{ border-top: 2px solid #24125f; }
#boardWrite th label{ font-size: 0.875rem; color: #333; }
#noticeTitle{ width: 100%; height: 40px; padding: 0 10px; box-sizing: border-box; border: 1px solid 666; box-sizing: border-box; }
#noticeContent{ width: 100%; padding: 10px; box-sizing: border-box; border: 1px solid 666; box-sizing: border-box; resize: none; }
#boardWrite .btnWrap{ width: 100%; text-align: center; }
#boardWrite .btnWrap > *{ display: inline-block; width: 7rem; height: 3rem; border: 1px solid #24125f; box-sizing: border-box; text-align: center; line-height: 3rem; color: #24125f; font-weight: 500; }
#boardWrite .btnWrap > .submitBtn{ background-color: #24125f; color: #fff; }


/* 공지사항 글보기 */
.noticeView{ width: 100%; margin-bottom: 2rem; box-sizing: border-box; }
.noticeView caption{ position: absolute; left: -999em; }
#subContents .noticeView th{ width: 15%; border-top: none;  }
#subContents .noticeView td{ border-top: none; text-align: left; }
#subContents .noticeView .top th, #subContents .noticeView .top td{ border-top: 2px solid #24125f; }
.noticeView + .btnWrap{ width: 100%; text-align: center; }
.noticeView + .btnWrap > *{ display: inline-block; width: 7rem; height: 3rem; border: 1px solid #24125f; box-sizing: border-box; text-align: center; line-height: 3rem; color: #24125f; font-weight: 500; }
.noticeView + .btnWrap > .modifyBtn{ background-color: #24125f; color: #fff; }
.noticeView + .btnWrap > .deleteBtn{ background-color: #d80707; color: #fff; border: 1px solid #d80707; }
